<div class="main">
    <div class="container">
        <div class="row">
            <div class=" col-lg-4 col-md-6 mb-3" *ngFor="let c of categories$ | async">
                <div class="category">
                    <div class="category-img">
                        <img [src]="c.imageUrl" alt="story">
                    </div>
                    <div class="category-info">
                        <span class="category-tag">HSK1-HSK9</span>
                        <div class="category-name"> {{c.categoryName}} </div>
                        <div class="pt-2 pb-3"> {{c.description}}
                        </div>
                        <div class="d-flex justify-content-around align-items-center pt-3 pb-3">
                            <div class="text-center category-profi">
                                <div>{{c.totalLessons}}</div>
                                <div>Bài học</div>
                            </div>
                            <div class="text-center category-profi">
                                <div>{{c.totalAttempt}}</div>
                                <div>Lượt làm</div>
                            </div>
                            <div class="text-center category-profi">
                                <div>{{c.totalStudents}}</div>
                                <div>Người học</div>
                            </div>
                        </div>
                        <button class="btn" (click)="navigateToLessonPage(c.categoryId)">Khám phá ngay</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>