<footer id="footer" class="footer dark-background">

  <div class="container footer-top">
    <div class="row gy-4">
      <div class="col-lg-4 col-md-6 footer-about">
        <a href="index.html" class="logo d-flex align-items-center">
          <span class="sitename">Chinese-Dictation</span>
        </a>
        <div class="footer-contact pt-3">
          <p>123, Đình Tổ, Thuận THành</p>
          <p>Bắc Ninh, CODE: 16000</p>
          <p class="mt-3"><strong>Phone:</strong> <span>+0964 333 444</span></p>
          <p><strong>Email:</strong> <span>chinese-dictation&commat;gmail.com</span></p>
        </div>
        <div class="social-links d-flex mt-4">
          <a href=""><i class="fa-brands fa-x-twitter"></i></a>
          <a href=""><i class="fa-brands fa-facebook-f"></i></a>
          <a href=""><i class="fa-brands fa-instagram"></i></a>
          <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
      </div>

      <div class="col-lg-2 col-md-3 footer-links">
        <h4>Liên kết nhanh</h4>
        <ul>
          <li><a href="#">Trang chủ</a></li>
          <li><a href="#">Bài học</a></li>
          <li><a href="#">Blogs</a></li>
          <li><a href="#">Kiểm tra</a></li>
          <li><a href="#">Flash Card</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-md-3 footer-links">
        <h4>Chính sách & Pháp lý</h4>
        <ul>
          <li><a href="#">Chính sách bảo mật</a></li>
          <li><a href="#">Điều khoản sử dụng</a></li>
          <li><a href="#">Quyền riêng tư</a></li>
        </ul>
      </div>

      <div class="col-lg-4 col-md-12 footer-newsletter">
        <h4>Góp ý với chúng tôi</h4>
        <p>Nhập nội dung góp ý bên dưới để hỗ trợ phát triển website của cộng đồng!</p>
        <form action="#" method="post" class="php-email-form">
          <div class="newsletter-form"><input type="email" name="email"><input type="submit" value="Gửi"></div>
        </form>
      </div>

    </div>
  </div>

  <div class="container copyright text-center mt-4">
    <p>© <span>Copyright</span> <strong class="px-1 sitename">Chinese-Dication</strong> <span>All Rights Reserved</span></p>
  </div>

</footer>