<div class="back-ground">
  <img src="assets/images/sign-background.jpg" alt="">
  <div class="over-lay">
    <div class="logo">
      <img src="assets/images/logo.png" alt="">
    </div>
    <div class="tiltle fw-bold fs-3 mb-4">Đăng ký</div>
    <div class="form-sign-in">
      <form>
        <div>
          <div class="d-flex justify-content-between">
            <div style="width: 47%">
              <p-floatlabel variant="on" class="input">
                <input pInputText id="firstName" autocomplete="off" #firstName />
                <label for="firstName">Họ</label>
              </p-floatlabel>
            </div>
            <div style="width: 47%">
              <p-floatlabel variant="on" class="input">
                <input pInputText id="lastName" autocomplete="off" #lastName />
                <label for="lastName">Tên</label>
              </p-floatlabel>
            </div>
          </div>
        </div>
        <p-floatlabel variant="on" class="input">
          <input pInputText id="email" autocomplete="off" #email />
          <label for="email">Email</label>
        </p-floatlabel>
        <p-floatlabel variant="on" class="input">
          <input pInputText id="password" autocomplete="off" #password />
          <label for="password">Mật khẩu</label>
        </p-floatlabel>
        <p class="login-card-footer-text mb-2">Bạn đã có tài khoản? <a routerLink="/auth/login">Đăng nhập tại đây</a>
        </p>
        <button type="button" class="mb-4" (click) = "onClick()">Đăng ký</button>

        <nav class="diff login-card-footer-nav">
          <a href="#!">Điều khoản sử dụng, </a>
          <a href="#!">Chính sách bảo mật</a>
        </nav>
      </form>
    </div>
  </div>
</div>

<p-dialog header="Xác nhận tài khoản" [modal]="true" [(visible)]="visibleActivationDialog" [style]="{ width: '30rem' }">
  <h2>Xác Nhận Email</h2>
  <p>Nhập mã xác nhận 6 chữ số được gửi đến email của bạn:</p>

  <form [formGroup]="otpForm" (ngSubmit)="onSubmit()" id="confirmForm">
    <div class="input-container">
      <input type="text" maxlength="1" formControlName="code1" #code1 (input)="moveFocus(0)" class="code-input"
        (keydown)="onKeyDown($event, 0)">
      <input type="text" maxlength="1" formControlName="code2" #code2 (input)="moveFocus(1)" class="code-input"
        (keydown)="onKeyDown($event, 1)">
      <input type="text" maxlength="1" formControlName="code3" #code3 (input)="moveFocus(2)" class="code-input"
        (keydown)="onKeyDown($event, 2)">
      <input type="text" maxlength="1" formControlName="code4" #code4 (input)="moveFocus(3)" class="code-input"
        (keydown)="onKeyDown($event, 3)">
      <input type="text" maxlength="1" formControlName="code5" #code5 (input)="moveFocus(4)" class="code-input"
        (keydown)="onKeyDown($event, 4)">
      <input type="text" maxlength="1" formControlName="code6" #code6 (input)="moveFocus(5)" class="code-input"
        (keydown)="onKeyDown($event, 5)">
    </div>
    <p-button label="Xác nhận" icon="pi pi-check" [loading]="loading" (onClick)="onSubmit()" [style]="{'width': '48%', 'font-size': '14px'}">
            <i class="pi pi-check" class="submit-btn"></i>
          </p-button>
  </form>

</p-dialog>